:root {
    --Sol_blue: radial-gradient(circle, rgb(0,191,255) 75%, rgb(0,127,255) 100%);
    --Roma_background: radial-gradient(circle, rgb(228,225,217) 65%, rgb(214,209,195) 100%);
    --Juno_light: rgb(228,225,217);
    --Neptune_blue: rgb(56,131,133);
    --Mare_blue: rgb(106,181,183);
    --Venus_white: rgb(218,228,228);
    --Vulcan_plumbum: '#565655';
    --Mercury_light: rgb(214,209,195);
    --Pontus_blue: rgb(15,158,224);
    --Maribel_white: rgb(245, 247, 247);
    --scroll-size: 5px;
    --scroll-radius: 10px;
    --scroll-track: rgb(255 255 255 / 10%);
    --scroll-thumb-color: #ffd700;
}

body::-webkit-scrollbar {
    width: var(--scroll-size, 10px);
    height: var(--scroll-size, 10px);
}
body::-webkit-scrollbar-track {
    background-color: var(--scroll-track, transparent);
    border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color, grey);
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

@supports not (selector(::-webkit-scrollbar-thumb)) {
    html, body {
      scrollbar-color: var(--scroll-thumb-color, grey) var(--scroll-track, transparent);
      scrollbar-width: thin;
    }
}
  
a {
    font-weight: bold;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

@font-face {
    font-family: Trajan;
    src: url(fonts/trajan.woff2);
}

#main_background {
    z-index: 1;
    visibility: hidden;
}

#pseudo_background {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    visibility: hidden;
}

#nav_bar {
    z-index: 3;
    visibility: hidden;
}

.nav_button {
    box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.1s;
    z-index: 4;
    background-image: "";
    visibility: hidden;
}

.nav_button:hover {
    background-color: var(--Mare_blue);
    color: var(--Vulcan_plumbum);
}

.nav_button_text {
    z-index: 5;
    font-family: Trajan;
    text-align: center;
    font-weight: bold;
    visibility: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content_box{
    visibility: hidden;
    opacity: 0;
}

#mode_button_container {
    visibility: hidden;
    box-shadow: -8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

#mode_button_canvas {
    z-index: 4;


}
.mode_button_text  {
    z-index: 5;
    font-family: Trajan;
    text-align: center;
    font-weight: bold;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content_box{
    z-index: 111;
}

#about_text{
    position: relative;
}

#contact_text{
    position: relative;
}

.text_content{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link_content{
    font-family: 'Times New Roman', Times, serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.project_selector_canvas{
    position: absolute;
    z-index: 5;
}

.project_selector_text{
    position: absolute;
    z-index: 10;
    font-family: Trajan;
    text-align: center;
    font-weight: bold;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#project_display {
    position: absolute;
}
#project_display_text {
    position: absolute;
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;

    overflow-Y: scroll;
    overflow-wrap: break-word;

    visibility: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subtitle {
    font-weight: bold;
}

.paragraph {
    font-weight: normal; 
}

.link {
    font-weight: bold;
}