html{
  height:100vh;
  width: 100vw;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

li{
  display: inline;
}

body{
  background-color: rgb(57,61,71);
  background-repeat:no-repeat;
  background-size:contain;
  width: 98vw;
  height: 98vh;
}

a{
  text-decoration: none;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1.25vw;
  color: rgb(200,205,210);
  text-shadow: 0 0 0.1vw rgb(185,187,190);
  transition-duration: 0.25s;
}

.logos{
  width: 1vw;
  height: 1vw;
}

a:hover{
  text-decoration: none;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1.25vw;
  color: rgb(200,205,210);
  text-shadow: 0 0 0.3vw rgb(255,255,255);
}

#outer{
  min-height: 100%;
  position: relative;
}

nav{
  width: auto;
  height: auto;
}

#main_nav{
  transition-duration: 0.8s;
}

.main_button{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.5vw;
  border-style: solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  margin: 25px;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.4s;
  color: rgb(185,187,190);
  border-color:rgb(185,187,190);
}

.main_button:hover{
  border-style: solid;
  border-color: rgb(54,57,63);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px rgb(185,187,190);;
  background-color: rgb(185,187,190);;
  color: rgb(54,57,63);
}

input[type="submit"] {
  z-index: -1;
  background: rgba(0, 0, 0, 0);
}

#main_content_box{
  position:absolute;
  bottom:0;       
  transition-duration: 0.8s;
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
}

#about_container{
  position:absolute;
  bottom:0;
  left:0;
  transition-duration: 0.8s;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

#projects_container{
  position:absolute;
  bottom:0;
  left:0;
  transition-duration: 0.8s;
  display: block;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

#contact_container{
  position:absolute;
  bottom:0;
  left:0;
  transition-duration: 0.8s;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

.visibility_content_about{
  visibility: hidden;
  transition-duration: 0.2s;
}

.visibility_content_projects{
  visibility: hidden;
  transition-duration: 0.2s;
}

.visibility_content_contact{
  visibility: hidden;
  transition-duration: 0.2s;
}

#about_text{
  display: block;
  line-height: 2.5vh;
  overflow: visible;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1.25vw;
  color: rgb(185,187,190);
}

#contact_text{
  display: block;
  line-height: 2.5vh;
  overflow: visible;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1.25vw;
  color: rgb(185,187,190);
}

#project_table{
  display: block;
  height: 90%;
  width: 100%;
  box-sizing: border-box;
}

#project_selector{
  box-sizing: border-box;
  width: 15vw;
  height: 40vh;
  box-sizing: border-box;
}

#project_nav_bar{
  width: inherit;
  height: 100%;
  padding: 1vh 1.5vh;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
}

.projects_button{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  font-size: 1vw;
  border-style: solid;
  border-radius: 1vw;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.4s;
  background: none;
  background-color: rgb(185,187,190);
  color: rgb(54,57,63);
  border-color:rgb(54,57,63);
  width: 100%;
  padding: 2vh 2.5vw;
  display: inline-block;
}

.projects_button:hover{
  border-color: rgb(185,187,190);
  box-shadow: 0px 0px 0.5vw 0.25vw rgb(54,57,63);
  background-color: rgb(54,57,63);
  color: rgb(185,187,190);
}

#project_display{
  box-sizing: border-box;
  width: 65vw;
  height: inherit;
  overflow: scroll;
}

#project_display_container{
  background-color: rgb(57,61,71);
  box-sizing: border-box;
  width: 0%;
  max-width: 64vw;
  transition-duration: 0.8s;
  height: inherit;
  overflow: scroll;
  padding: 1vh;
}

.current_proj{
  line-height: 2.5vh;
  visibility: hidden;
}

.project_link{
  text-decoration: none;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1vw;
  color: rgb(54,57,63);
  text-shadow: 0 0 1px rgb(54,57,63);
  transition-duration: 0.25s;
}

.project_paragraph{
  font-family:sans-serif;
}

.project_paragraph_light{
  font-family:sans-serif;
  color: rgb(185,187,190);
}

.project_link:hover{
  text-decoration: none;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  font-size: 1vw;
  color: rgb(200,205,210);
  text-shadow: 0 0 4px rgb(54,57,63);
}

.logosp{
  width: 0.8vw;
  height: 0.8vw;
}

 /* Chat containers */
 .container {
  border: 2px solid rgb(57,61,71);
  background-color: rgb(185,187,190);
  border-radius: 5px;
  margin: 1vw 0;
  padding-left: 1vw;
  max-width: 60vw;
}

/* Darker chat container */
.darker {
  border-color: gb(185,187,190);
  background-color: rgb(57,61,71);
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 98%;
  margin-right: 1vw;
  border-radius: 50%;
}

#dialog_hourai_box{
  bottom: 0%;
  max-width: 60vw;
  width: 98%;
}

#text_insert_box{
  bottom: 0%;
  max-width: 60vw;
  width: 98%;
}

#send_text_button {
  font-size: 2vh;
  height: 4vh;
  width: 10%;
  float:right;
}

#message_text_web {
  font-size: 2vh;
  height: 4vh;
  max-width: 60vw;
  width: 85%;
}

/* 
  Scrollbar area since it 
  seems like in chrome it looks like shit
  Seriously that was a huge wtf moment*/

  /* width */
::-webkit-scrollbar {
  width: thin;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(#393939, .7); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten(#606060, 15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(#606060, 30); 
}

::-webkit-scrollbar-corner{
  background: rgba(#393939, .7);
}
		
/*
  I hope the stuff above works for you chromium boys,
  I'm not gonna install Chromium to test it sorry, not sorry
  */
